:root {
  --primary-color: #1E90FF;
  --primary-dark: #0063cb;
  --primary-light: #6fc0ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

header {
  text-align: center;
  font-size: 0.9em;
  color: white;
}

header a {
  color: white;
}

header a:visited {
  color: white;
}

body {
  background-color: var(--primary-color);
}

main {
  display: -webkit-flex; /* required for mobile safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 80vh;
}

main > * {
  margin: 8px;
}

a {
  color: black;
  /*text-decoration: none;*/
}

a:visited {
  color: black;
}

.result-list {
  display: -webkit-flex; /* required for mobile safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 80vw;
  margin: 0 10vw;
}

/* Desktops and tables in landscape */
@media screen and (min-width: 768px) and (orientation: landscape){
  .result-list {
    width: 60vw;
    margin: 0 20vw;
  }
}

.result-item {
  border: 1px outset var(--primary-dark);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  margin: 2px;
  padding: 6px;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
}

.result-item > a {
  text-decoration: none;
}

.result-item:hover {
  background-color: var(--primary-light);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-size: 1.2em;
  padding-bottom: 2px;
}

.description {
  font-size: 0.8em;
}
